{% extends "Logistics/layout.html" %}

{% block content %}
{% load static %}

<center>
	
	 <div class="log-out">

        <div class="logger">

            <div class="main-log">
                You have been logged out
            </div>   

            <div class="text">
                <a href="{% url 'login' %}">Log In Again</a>
            </div>

            <div class="text">
                <a href="{% url 'Instadrop-home' %}">Home</a>
            </div>

        </div>

        <div class="leaving">
            <img src="{% static 'Logistics/images/leaving.png' %}" alt="">
        </div>
        
    </div>

</center>

{% endblock %}