{% extends "Logistics/layout.html" %}

{% block content %}

	<center>
		
		<div class="holding log">

		    <div class="parcel-form-log">

		        <div class="instructions">
		            REGISTER
		        </div>

		        {% if form.errors %}

		        <div class="alert alert-warning alert-dismissible fade show" role="alert">
		            There was an error with your form
		            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>

		        {% endif %}	

		        <form action="{% url 'register' %}" method="post" class="main-log-form">

		        {% csrf_token %}
		        {{ form.as_p }}

		        <input type="submit" value="Create Account" class="parcel-form-button-one">
				
		    </div>

		</div>

	</center>

{% endblock %}