{% extends "Logistics/layout.html" %}

{% block content %}
{% load static %}

	<center>
		
		<div class="holding log">

			<div class="insta left">
            	<img src="{% static 'users/images/instadrop-logo-white.svg' %}" alt="">
            </div>

		    <div class="parcel-form-log">

		        <div class="instructions">
		            REGISTER
		        </div>

		        {% if form.errors %}

		        <div class="alert alert-warning alert-dismissible fade show" role="alert">
		            There was an error with your form
		            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>

		        {% endif %}	

		        <form action="{% url 'register' %}" method="post" class="main-log-form">

		        {% csrf_token %}
		        {{ form.as_p }}

		        <input type="submit" value="Create Account" class="parcel-form-button-one">
				
		        <div class="border-top pt-3">
		            <small class="text-muted">
		                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
		            </small>
        		</div>

		    </div>

		</div>

	</center>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

{% endblock %}