{% extends "Logistics/layout.html" %}

{% block content %}
{% load static %}
    <center>

        <div class="holding place-order">

            <div class="parcel-form-cover">

                <div class="instructions">
                    Place an Order
                </div>

                <div class="main-parcel-form payment black">
                    <p>PLEASE NOTE</p>
                    <ul>
                        <li>
                            This service is only available to Ile-Ife residents.
                        </li>
                        <li>
                            An Instadrop agent will reach out to you for your bill.
                        </li>
                        <li>
                            Every delivery costs &#8358;500.
                        </li>
                    </ul>
                </div>

               <br/><br/>

                <form action="" method=POST class="main-parcel-form">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Submit" class="btn btn-secondary">
                </form>

            </div>

        </div>

    </center>
    <script src="{% static 'Logistics/js/formObserver.js' %}"></script>
{% endblock content %}
