{% extends "Logistics/layout.html" %}

{% block content %}

	<main>
		
		 <section class="about-us">
        <div class="about-us-header">
            <span>ABOUT US</span> 
        </div>
        <div class="about-us-content">
            
            <div class="content-box">
                <div class="image-content">
                    <img src="#" alt="">
                </div>
                <div class="word-content">
                    <p>
                        <div class="topic">
                            YOUR GO-TO LOGISTICS COMPANY
                        </div>
                        We pick up and send parcels to your preferred destinations, and we run errands and logistics for you within your vicinity. We work very hard to ensure that we provide fast, long-lasting solutions to your Logistics
                        needs. Whatever your logistics may be, Our Insta-riders are here for you. Whether you want to
                        get an item across town, or send a parcel to another state in South-West Nigeria, we are your best choice.
                    </p>
                </div>
            </div>

            <div class="content-box">
                <div class="word-content">
                    <p>
                        <div class="topic-2">
                            WE RUN ERRANDS
                        </div>
                        Send us and we will go. No need to go through the
                        hustle and bustle of the marketplace, or grocery shopping, avoid the stress of sitting in traffic. Save up the time and use the energy to get onto more productive things. Just say the word and we will go there and drop it at your door. Our list of vendors allows you to select and order food and groceries from your favorite food vendors and supermarkets, while we take care of the business of delivering it to your doorstep within the hour.
                    </p>
                </div>
                <div class="image-content">
                    <img src="#" alt="">
                </div>
            </div>

            <div class="content-box">
                <div class="image-content">
                    <img src="#" alt="">
                </div>
                <div class="word-content">
                    <p>
                        <div class="topic">
                            DELIVERY GUARANTEED
                        </div>
                        We are a NIPOST licensed logistics company with operations across Nigeria. From inception till now, we have grown and we have multiple outposts across South-West Nigeria. We focus on ensuring that our customers are given INSTANT, RELIABLE and HASSLE FREE logistics. No matter how big or small the package is, you can rest assured knowing that it's in good hands.
                    </p>
                </div>
            </div>

        </div>

    </section>

	</main>

{% endblock %}