{% extends "Logistics/layout.html" %}

{% block content %}

<center>

    <div class="holding">

        <div class="parcel-form-cover">

            <div class="instructions">
                Receiver Details
            </div>

             <form action="" method=POST class="main-parcel-form">

                {% csrf_token %}

                    {{ form.as_p }}

                <input type="submit" value="Submit" class="parcel-form-button">

            </form>

        </div>

    </div>

</center>

{% endblock content %}
