{% extends "Logistics/layout.html" %}

{% block content %}
{% load static %}

<center>

    <div class="holding">

        <div class="parcel-form-cover">

            <div class="instructions">
                Enter Shipment Details
            </div>

            <div class="main-parcel-form payment black">
                <p>PLEASE NOTE</p>
                <ul>
                    <li>
                        Delivery to Lagos(Mainland): &#8358;2,100
                    </li>
                    <li>
                        Delivery to Lagos(Island): &#8358;2,700
                    </li>
                    <li>
                        Delivery to Ibadan: &#8358;1,500
                    </li>
                </ul>
            </div>

            <form action="" method=POST class="main-parcel-form">

                {% csrf_token %}

                    {{ form.as_p }}

                <input type="submit" value="Submit" class="parcel-form-button">

            </form>

        </div>

    </div>

</center>

<script src="{% static 'Logistics/js/formObserver.js' %}"></script>

{% endblock content %}
